version: 2.1

jobs:
  terraform:
    docker:
      - image: hashicorp/terraform:latest  # Terraform executor
    steps:
      - checkout
      - attach_workspace:
          at: ~/
      # Add SSH keys stored in CircleCI project
      - add_ssh_keys:
          fingerprints:
            - SHA256:7pNFQEQEcmBCtf7scKhJJt3L9ELoL4VrXyOziI3GqK0


      #Terraform init, plan and apply
      - run:
          name: Terraform plan and apply
          command: |
            cd terraform/
            terraform init
            terraform plan -out=tfplan && terraform apply -auto-approve  tfplan 
      #To Save the Previous state of the terraform apply output
      - persist_to_workspace:
          root: ~/project
          paths:
            - terraform/terraform.tfstate
            - terraform/.terraform

      # Extract EC2 IP from terraform output
      
      - run:
          name: Extract EC2 IP
          command: |
            cd ~/project/terraform          
            _instance_ip=$(terraform output -raw web_instance_elastic_ip)
            instance_ip=$(echo "$instance_ip" | tr -d '"')
           
            # Save to file
            # echo "$instance_ip" > ~/ec2_ip.txt

      - persist_to_workspace:
         root: ~/
         paths:
            - ec2_ip.txt

ansible:
  docker:
    - image: cimg/base:stable
  steps:
     - checkout
     - setup_remote_docker
     - attach_workspace:
        at: ~/     
     - run:
         name: Install Ansible
         command: sudo apt-get update &&  sudo apt-get install -y ansible
     - run:
         name: Run Ansible Playbook
         command: |
           ansible-playbook ../ansible/playbook.yml -i "$(cat ~/ec2_ip.txt)," --extra-vars "ansible_user=ubuntu"

workflows:
  deploy_on_push:
    jobs:
      - terraform
      - ansible:
          requires:
            - terraform
filters:
branches:
      only:
        - main



  
     

            